
//Add class="no-scroll" on <ion-content> to disable scrolling
.no-scroll .scroll-content {
  overflow: hidden;
}

//Center Class to align content to center.
.center {
  text-align: center;
}
.tabs-ios .tabbar{
  background: #fff;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
  color: $primary;
}

.tabs-ios .tab-button[aria-selected=true]{
  color: $primary;
  border-bottom: 2px solid $primary;
}

.segment-ios .segment-button{
  border-color: $primary;
  color:$primary;
}
.segment-ios .segment-button.segment-activated{
  background: $primary;
}

.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
  border-style: none;
}
.top{
  background: $primary;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
}
.top img{
  height: 80px;
  width: 80px;
}
a{
  color: #222;
}

.chatbox{
  padding:3px;
  border-radius: 5px;
  max-width: 70%;
  min-width: 70%;
  margin: 5px;
}
.chatbox span{
  font-size: 12px;
}
.right{
  border-radius: 5px;
  background: $chat-right-bg;
  color: $chat-right-color;
  float: right;
  text-align: right;
  padding-right: 5px
}
.left{
  border-radius: 5px;
  background: $chat-left-bg;
  color:$chat-left-color;
  float: left;
  text-align: left;
  padding-left: 5px
}
video{
  background: $chat-left-bg;
  border-radius: 5px;
}

//Empty List
.empty-list {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;

  h1,
  p {
    color: $gray;
  }

  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.125em;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    background: $dark;
  }

  button.activated,
  button:active {
    background: $dark-active;
  }
}


//Footer Bar for message.html and group.html
ion-footer.footer {
  background-position: initial initial;
  background-repeat: initial initial;
}

.bottom_bar {
  padding-top: 0.25em;
  // padding-bottom: 0.25em;
  border-top: 1px solid #e1e1e1;

  ion-textarea {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border-radius: 0.75em;
  }

  button ion-icon {
    font-size: 2em !important;
    color: $primary;
  }
}
